header {
    background-color: white;
    padding: 10px 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 18px;
}


header .container {
    display: flex;                /* flexbox is enabled */
    justify-content: space-between;
    align-items: center;           /* vertically center  items*/
}

header h1 {
    padding-left: 15px;
    margin: 0;                     /* remove default spacing */
}

header nav ul {
    list-style: none;              /* remove bullet points */
    display: flex;                 /* make list horizontal */
    margin: 0;
    padding: 0;
    gap: 25px;                     /* space between items */
}

header nav a {
    text-decoration: none;
    color: #6b7280;
    font-weight: 500;
}

header nav a:hover {
    color: #5A67D8;                /*hover color added for the items that appear as links */
}

.overview-hero {
background-color: #E2E8F0;
padding: 42px 0;
}

.overview-hero .container {
    display: flex;               /* enable flexbox layout */
    align-items: center;
    justify-content: space-between;
    gap: 42px;                   /* space between image and text */
}

.overview-hero-image img {
    max-width: 100%;             /* makes the website more adaptive */
    height: auto;
    border-radius: 2px; /*added smooth edges, just smooth enough to be noticeable */
    margin-left: 102px;
}

.overview-hero-text {
    flex: 1;/**/

}



/*.overview-hero-text h2
{
    margin-top: 10px;
}*/

.learn-about {
    padding: 6px 0;
    /*background-color: #ffffff; */
}

.learn-about h2 {
    padding-left: 15px;
    text-align: left;
    margin-bottom: 40px;
    font-size: 24px;
    color: #48BB78;

}

.learn-about .cards {
    display: grid;                           /* enable grid layout */
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    border-color: #E2E8F0;

}

.card {
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 6px 7px rgba(0,0,0,0.1);
}

.card img {
    width: 100px;                            /* keep consistent image size */
    height: 100px;
    margin-bottom: 13px;
}

.card-body h3 {
    color: #48BB78;
    font-size: 21px;
    margin: 10px 0;
}

.card-body p {
    /*color: #555;*/
    /*font-size:1;
    line-height: 1.5;*/
}
.testing {
    color:white;
    background-color: #4A5568;
    padding: 69px 0;
}

.testing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.testing-desciption {
    flex: 1;
}

.testing-desciption h2 {
    padding-left: 50px;
    margin-top: 0;
    margin-bottom: 10px;
}

.testing-desciption p {
    padding-left: 50px;
    margin: 0;
    line-height: 1.5;
}

.cta .btn {
    background-color: #48BB78;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: 600;
}
.cta .btn:hover {
    /*background-color: #000000;*/
}
.stories {
    padding: 60px 0;
}

.stories h2 {
    color:#5A67D8;
    text-align: left;
    margin-bottom: 42px;
    padding-left:35px;
}
.stories h3{
    font-size: 18px;
}

.stories article {

    display: flex;
    align-items: flex-start;
    gap: 20px;                     /* space between image and text */
    margin-bottom: 42px;           /* spacing between articles */
}

.stories article img {
    padding-left: 5px;
    width: 150px;
    height: 150px;
    border-radius: 200px;
    object-fit: cover;
}

.article-body h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.article-body p {
    margin: 0 0 10px 0;
    line-height: 1.6;
    /*color: #555;*/
}

.article-body a {
    color: #777bff;
    text-decoration: none;
    font-weight: 600;
}

.article-body a:hover {
    text-decoration: underline;
}

.newsletter {
    background-color: #48BB78; /*mandatory*/
    padding: 60px 0;
    text-align: center;         /* center all text and elements */
}

.newsletter h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.newsletter p {
    margin-bottom: 33px;
    color: #555;
}

.newsletter form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.newsletter input[type="email"] {
    padding: 12px;
    width: 750px;
    border: 4px solid #000;
    border-radius: 4px;
    font-size: 1rem;
}

.newsletter .btn {
    background-color: #5A67D8;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 6.7s ease, background-color 6.7s ease;
}

.newsletter .btn:hover {
    background-color: #50A0E9;
    transform: scale(1.12); /* grow slowly on hover */
    /*not a necessary effect but i think it is a nice addition*/
}

.newsletter .message {
    margin-top: 20px;
    /*color: green;*/
}

footer{
    padding:20px;
    background-color: #4A5568;
    color:white;
}

footer p{



}
