header {
    /*background-color: #f8f8f8; , decided to make background color default for now since it will be modified later */
    padding: 10px 0;
}


header .container {
    display: flex;                /* flexbox is enabled */
    justify-content: space-between;
    align-items: center;           /* vertically center  items*/
}

header h1 {
    margin: 0;                     /* remove default spacing */
}

header nav ul {
    list-style: none;              /* remove bullet points */
    display: flex;                 /* make list horizontal */
    margin: 0;
    padding: 0;
    gap: 25px;                     /* space between items */
}

header nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

header nav a:hover {
    color: #007bff;                /*hover color added for the items that appear as links */
}

.overview-hero {
/*background-color: #f8f8f8;* made it default for now since it will be modified later.*/
padding: 42px 0;
}

.overview-hero .container {
    display: flex;               /* enable flexbox layout */
    align-items: center;
    justify-content: space-between;
    gap: 42px;                   /* space between image and text */
}

.overview-hero-image img {
    max-width: 100%;             /* makes the website more adaptive */
    height: auto;
    border-radius: 2px;   /*added smooth edges, just smooth enough to be noticeable */
}

.overview-hero-text {
    flex: 1;/**/

}



/*.overview-hero-text h2
{
    margin-top: 10px;
}*/

.learn-about {
    padding: 6px 0;
    /*background-color: #ffffff; */
}

.learn-about h2 {
    text-align: left;
    margin-bottom: 40px;
}

.learn-about .cards {
    display: grid;                           /* enable grid layout */
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card img {
    width: 100px;                            /* keep consistent image size */
    height: 100px;
    margin-bottom: 15px;
}

.card-body h3 {
    margin: 10px 0;
}

.card-body p {
    /*color: #555;*/
    /*font-size:1;
    line-height: 1.5;*/
}
